div{
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
header {
    color: black;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 2px solid #000;
}
body {
    max-width: 1512px; 
    margin: 0 auto; 
    padding: 0 20px;
    font-family: 'SF Pro Display', sans-serif;
  }
.container1 {
    padding: 40px;
}
.content {
    display: flex;
    align-items: flex-start;
}
.title {
    flex: 1;
}
.title h3 {
    padding-top: 50px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.title h1 {
    font-size: 96px;
    margin: 0;
    max-width: 350px;
}
.info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 400px;
}
.info p {
    padding-top: 50px;
    font-size: 12px;
    line-height: 1.4;
    margin: 5px 0;
    max-width: 350px;
}
.image {
    width: 100%;
    margin-top: 20px;
}
.image img {
    width: 100%;
    border-radius: 10px;
}
.button {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
}
.button-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}
.button-container p {
    margin: 0;
}
.separator {
    width: 100px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
}