div{
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    max-width: 1512px; 
    margin: auto;
}
.menu_de_navegación {
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contenido_primera_pagina {
    width: 80%;
}

.subtitulo {
    padding-top: 40px;
    font-size: 13px;
    font-weight: 500px;
}

.titulo {
    font-size: 96px;
    font-weight: 500;
    margin: 0px;
}

.primera_pagina {
    width: 50%;
}

.segundo--div {
    margin-top: 40px;
    width: 350px;
    text-align: justify;
}

.párrafo_primera_pagina {
    font-size: 13px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.segundo--div__parrafo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 0px;
}

.seción-linea-progreso_primera_pagina {
    width: 40%;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.linea-progreso {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    position: relative;
    margin-top:10px;
    border-radius: 2px;
    
}

strong {
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

.porcentaje-progreso {
    width: 17%;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 2px;
}
.imagen__primera_pagina {
    max-width: 100%;
    margin: 20px 0;
}

.separacion_primera_pagina {
    margin: 10px 0;
    margin-top: 40px;
}
.boton {
    border-radius: 50px;
    padding: 8px 25px;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

/* ----------- MAIN PRIMERA PARTE ------------- */

.main__primera-pagina {
    display: flex;
    justify-content: space-between;
}

.main__subtitulo {
    font-size: 64px;
    width: 30%;
    font-weight: 100;
    margin: 10px;
    text-transform: uppercase;
}

.main__primera-pagina_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.segundo--boton {
    margin-top: 20px;
}

.main__flechas {
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 20px;
    cursor: pointer;
}

.galeria{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.galeria_tamaño {
    width: 300px;
}

.imagenes {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.marca_coche {
    margin: 0;
    text-transform: uppercase;
}

.descripcion {
    margin: 0;
    text-transform: uppercase;
}

.separacion__paginas {
    margin: 50px 0;
}

/* ----------- MAIN SEGUNDA PARTE ------------- */

.segunda_pagina {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.parrafo_segunda_pagina {
    width: 210px;
    text-align: justify;
}

.raya_pequeña_segunda_pagina {
    margin: 20px 0 40px 0;
}

.imagen_segunda_pagina {
    width: 800px;
}

.boton_segunda_pagina {
    margin: 30px;
    margin-bottom: 30px;
}

/* ------------- MAIN TERCERA PARTE ------------- */
.main_tercera-pagina_texto {
    font-size: 13px;
    width: 90%;
    text-align: justify;
}
.main_tercera-pagina_segunda-parte {
    display: flex;
    justify-content: end;
    gap: 50px;
    align-items: center;
    margin: 80px 0;
}

.main_circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
}

.main_circulo-texto {
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.imagen-coche5 {
    width: 728px;
    height: 317px;
    border-radius: 20px;
}

.texto-importante_imagen-grande {
    margin-top: 35px;
}

.texto_imagen-grande {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.separacion_ultima_pagina {
    margin: 60px 0;
    margin-top: 130px;
}

/* ---------------  FOOTER ------------------- */

.footer {
    display: flex;
    justify-content: space-between;
}

.footer_principio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_titulo {
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    width: 80%;
    margin-bottom: 10px;
}

.footer_1 {
    margin: 20px 0;
    padding: 10px;
    width: 30%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    outline: 0;
    color: black;
}

.footer_1{
    color: black;
}

.footer_metodos_de_pago {
    display: flex;
    gap: 50px;
    margin: 50px 0;
    cursor: pointer;
}

.footer_ultima-parte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_ultima-parte_primer-sesion {
    display: flex;
    gap: 40px;
}

.footer_menu {
    width: 100px;
}

.titulo-menu {
    margin-bottom: 30px;
}

.titulo-tiendas {
    margin-bottom: 30px;
}

.lista_menu {
    padding: 0;
}

.lista_tiendas {
    padding: 0;
    cursor: pointer;
}

.menu__item {
    list-style: none;
    padding: 5px 0;
    width: 100px;
    cursor: pointer;
}

.boutiques__item {
    list-style: none;
    padding: 5px 0;
    width: 100px;
}

.footer_botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 250px;
}

.footer-boton-uno {
    margin-top: 50px;
}

.footer-boton-dos {
    width: 150px;
}

.footer_tiendas {
    width: 120px;
}

.list_boutiques {
    width: 150px;
}

.boutiques__item {
    width: 150px;
}

.footer_ultima-parte_segunda-sesion {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.footer_iconos {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 70px;
    margin-left: 30px;
}

.apps{
    cursor: pointer;
}

.circulo_footer {
    position: relative;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    border: black solid;
    background-color: white;
}
.flecha_arriba {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px; 
    height: auto;
    cursor: pointer;
  }